{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h3 class="text-center mb-3">📝 Register</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    <input type="text" name="username" class="form-control mb-3" placeholder="Username" required>

    <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

    <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

    <button class="btn btn-success w-100">Create Account</button>
</form>

<p class="text-center mt-3">
    Already have an account?
    <a href="/">Login</a>
</p>

{% endblock %}
