{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<h4 class="text-center mb-4">📝 Create Account</h4>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>

    <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb-3">
        <input type="password" name="password1" class="form-control" placeholder="Password" required>
    </div>

    <div class="mb-3">
        <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
    </div>

    <button type="submit" class="btn btn-success w-100">
        Register
    </button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger mt-3 auto-hide">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}

<p class="text-center mt-3">
    Already have account? <a href="{% url 'login' %}">Login</a>
</p>

{% endblock %}